<form action="/upload" method="post" enctype="multipart/form-data">

    <label for="idUsuario_input">User ID:</label>
    <input id="idUsuario_input" type="text" name="idUsuario" value="{{ idUsuario }}" readonly>

    <label for="image_input">Image:</label>
    <input id="image_input" type="file" name="image" required/>

    <input type="submit" value="Upload!" />

</form>

<form action ="/logout" method="post" enctype="multipart/form-data">
<input type="submit" value="Logout!">
</form>

{{#each imagens as |imagem|}}
    <img src="uploads/{{ imagem }}" height="20%"/>
    <br />
    <br />
    <form action="/delete" method="post" enctype="multipart/form-data"> <!-- Method should be delete but HTML doesn't support it! -->
        <label for="idImagem_input"></label>
        <input id="idImagem_input" type="text" name="idImagem" value="{{ imagem }}" readonly style="display: none;">
        <input type="submit" value="Excluir!">
    </form>
{{/each}}